@media only screen and (max-width: 850px) {    
    #banner-h1 { font-size: 45px; }    
    #imagem-banner { display: none;}
    #home-inicial{ justify-content: center; text-align: center; width: 100%; padding: 0;}
    #home-inicial p{margin-top: -42px; font-size: 10px;}
    #banner{ width: 100%; margin-top: 25px}
    #animacao-home{margin: 0;}
}

/* Responsividade */
@media (max-width: 768px) {
    .conteudo {
        flex-direction: column;
        text-align: center;
    }

    #titulo-sobre-site, #titulo-sobre-nos {
        text-align: center;
        font-size: 2em;
    }

    #texto-sobre-site, #texto-sobre-nos {
        font-size: 1em;
    }

    .caixa {
        height: 150px;
    }
}