body{
    background-color: #ffffff;
    margin: 0;
    font-family: 'Bubbleboddy Neue Trial', sans-serif;
    transition: 0.5s;
}

header{
    position: sticky;
    top: 0;
    padding: 10px 50px;
    transition: 1s;
    background-image: linear-gradient(to left, #99ed00,#408602);
    z-index: 999;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#logo-navbar{
    width: 100px; 
}

#tema-do-site{
    display: flex;
    align-items: center;

    width: 70px;
    height: 40px;

    border-radius: 20px;
    border: 2px solid rgb(58, 21, 0);
    background: rgb(216, 214, 219);

    filter: brightness(50px);
    transition: .5s;
}

#tema-atual{
    width: 25px;
    height: 25px;
    background-image: url(../imgs/icons/sol.png); 
    background-size: 100% auto;
    transition: .7s;
}

#home-inicial{
    color: #2b6200;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#home-inicial p{
    margin-top: -14vh;
}

#banner-h1{
    font-size: 16vh;
}

#button-pesquisar{
    width: 35px;
    border: none;
    background: none;
}

#imagem-banner{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#barra-de-pesquisa{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#barra, #barra:autofill {
    height: 15px;
    width: 400px;
    border: 0px;
    border-bottom: 1px solid;
    padding: 10px;
    background: none;
    transition: .5s;
}

#barra:autofill{
    border-radius: 20px;
} 

#barra:focus{
    border-radius: 20px;
    outline: none;
    border: none;
    border: 1px solid;
}


#button-pesquisar{
    display: none;
}

#button-pesquisar img{
    opacity: 0;
    transition: opacity .5s ease;
}

#button-pesquisar img:hover{
    cursor: pointer;
}

#animacao-home{
    display: flex;
    position: absolute;

    z-index: -1;
    height: 100%;

    align-items: end;
    justify-content: start;

    width: 100%;
}

#triangulo1{
    float: left;
    width: 100%;
    height: 50%;

    shape-outside: polygon(
        0 0,
        0 100%,
        0% 100%,
        0 100%
    );

    clip-path: polygon(
        0 0,
        0 100%,
        0% 100%,
        0 100%
      );
    
    background: rgb(0, 68, 0);
    animation: tr1 5s linear 1s infinite;
}

#triangulo2{
    z-index: 2;
    float: left;
    width: 100%;
    height: 30%;

    shape-outside: polygon(
        0 0,
        0 100%,
        0% 100%,
        0 100%
    );

    clip-path: polygon(
        0 0,
        0 100%,
        0% 100%,
        0 100%
      );
    
    background: rgb(0, 15, 0);
    animation: tr2 4s linear infinite;

}

#triangulo3{
    z-index: 1;
    float: left;
    width: 100%;
    height: 20%;

    shape-outside: polygon(
        0 0,
        0 100%,
        0% 100%,
        0 100%
    );

    clip-path: polygon(
        0 0,
        0 100%,
        0% 100%,
        0 100%
      );
    
    background: rgb(87, 128, 87);
    animation: tr3 3s linear 2s infinite;

}
















@keyframes tr3 {
    0%{
        to{
        shape-outside: polygon(
            0 0,
            0 100%,
            100% 100%,
            100% 0
        );
    
        clip-path: polygon(
            0 0,
            0 100%,
            100% 100%,
            100% 0
          );
        
       
        }
    }
    50%{
        shape-outside: polygon(
        0 0,
        0 100%,
        100% 100%,
        100% 100%
    );

    clip-path: polygon(
        0 0,
        0 100%,
        100% 100%,
        100% 100%
      );
    
    
    }

    75%{
        shape-outside: polygon(
        0 100%,
        0 100%,
        100% 100%,
        100% 0%
    );

    clip-path: polygon(
        0 100%,
        0 100%,
        100% 100%,
        100% 0%
      );
    
      
    }

    100%{
        shape-outside: polygon(
        100% 100%,
        100% 100%,
        100% 100%,
        100% 0%
    );

    clip-path: polygon(
        100% 100%,
        100% 100%,
        100% 100%,
        100% 0%
      );
    
    }
}

@keyframes tr2 {
    0%{
        to{
        shape-outside: polygon(
            0 0,
            0 100%,
            100% 100%,
            100% 0
        );
    
        clip-path: polygon(
            0 0,
            0 100%,
            100% 100%,
            100% 0
          );
        

        }
    }
    50%{
        shape-outside: polygon(
        0 0,
        0 100%,
        100% 100%,
        100% 100%
    );

    clip-path: polygon(
        0 0,
        0 100%,
        100% 100%,
        100% 100%
      );
    

    }

    75%{
        shape-outside: polygon(
        0 100%,
        0 100%,
        100% 100%,
        100% 0%
    );

    clip-path: polygon(
        0 100%,
        0 100%,
        100% 100%,
        100% 0%
      );
    

    }

    100%{
        shape-outside: polygon(
        100% 100%,
        100% 100%,
        100% 100%,
        100% 0%
    );

    clip-path: polygon(
        100% 100%,
        100% 100%,
        100% 100%,
        100% 0%
      );
    

    }
}

@keyframes tr1 {
    0%{
        to{
            shape-outside: polygon(
            0 0,
            0 100%,
            100% 100%,
            100% 0
        );
    
        clip-path: polygon(
            0 0,
            0 100%,
            100% 100%,
            100% 0
          );
        

        }
    }
    50%{
        shape-outside: polygon(
        0 0,
        0 100%,
        100% 100%,
        100% 100%
    );

    clip-path: polygon(
        0 0,
        0 100%,
        100% 100%,
        100% 100%
      );
    

    }

    75%{
        shape-outside: polygon(
        0 100%,
        0 100%,
        100% 100%,
        100% 0%
    );

    clip-path: polygon(
        0 100%,
        0 100%,
        100% 100%,
        100% 0%
      );
    

    }

    100%{
        shape-outside: polygon(
        100% 100%,
        100% 100%,
        100% 100%,
        100% 0%
    );

    clip-path: polygon(
        100% 100%,
        100% 100%,
        100% 100%,
        100% 0%
      );
    

    }
}

.tr{
    position: absolute;
    background-color: rgb(7, 89, 160);
}


/*novo*/

h2.red.center {
    position: relative;
    margin: 300px auto;
    text-align: center;
    padding: 30px;
    font-size: 3em;
    color: #012200;
}

.spacer-inn {
    margin-top: -200px;
}

.pag-core-values .core-tab-sec {
    display: block;
    width: 100%;
}

.pag-core-values .core-tab-sec .core-tabNav{ 
    text-align: center;
}

.pag-core-values .core-tab-sec .core-tabNav li {
    display: inline-block;
    vertical-align: top;
    width: 30%; 
    margin: 0 1.5%;
}

.pag-core-values .core-tab-sec .core-tabNav li a{ 
    display: block; 
    width: 100%; 
    text-align: center;
}

.pag-core-values .core-tab-sec .core-tabNav li figure { 
    display: block;
    width: 100%; 
    position: relative;
}

.pag-core-values .core-tab-sec .core-tabNav li img {
    display: block;
    width: 70%; 
    margin:0 auto;
    transform: translateY(0px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.pag-core-values .core-tab-sec .core-tabNav li img::after{
    position: absolute;
    width: 64%;
    height: 12%; 
    left: 0;
    right: 0; 
    bottom: 32px; 
    margin: auto; 
    z-index: 1; 
    content: "";
    box-shadow: 0 50px 24px rgba(0,0,0,0.1);
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.core-tabNav div {
    display: inline-block;
    vertical-align: top;
    background-color: #fff; 
    color: #646464; 
    font-weight: 600; 
    padding: 3px 8px; 
    letter-spacing: 5px; 
    position:relative; 
    z-index: 2; 
    margin-top: 35px; 
    font-size:15px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.core-tabNav div::after{
    width: 0;
    height: 0; 
    content: ''; 
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: -22px; 
    margin: auto;
    border: solid 12px transparent; 
    opacity: 0; 
    border-top-color: #e8f7ff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
}

.core-tabNav div .active a{ 
    background-color: #646464; 
    color: #fff;
}

.core-tabNav div .active a::after { 
    opacity: 1; 
    border-top-color: #646464;
}

.core-tabNav div .active:hover a{
    transform: translateY(-15px);
}

.core-tabCnt{
    display: block;
    padding: 70px;
}

.core-tabSec {
    position: relative;
    padding: 25px 80px;
    background-color: white;
}

.core-tabSec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    background: linear-gradient(to top, #012200, #3bed00);
}

.core-tabSec p { 
    margin-bottom: 30px; 
    margin-top: 30px; 
    line-height: 30px;
}

ul.core-tabNav {
  display: -webkit-inline-box;
  text-align: center;margin: 0px auto;
  position: relative;
  text-decoration: none;
  list-style-type: none;
}

.core-tab-sec {
    position: relative;
    text-align: center;
    margin: 0px auto;
    background: #eee;
}

.core-p {
    color: #012200;
}

.core-tabNav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.core-tabNav li {
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
}

.core-tabNav li:hover {
    border-bottom: 3px solid #3bed00;
}

.core-p {
    font-size: 18px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.core-p {
    transition: opacity 0.5s ease-in-out;
}
#button-pesquisar img {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0; /* Começa invisível */
    transform: scale(0.8); /* Começa levemente reduzida */
}

#button-pesquisar img.aparecer {
    opacity: 1;
    transform: scale(1); /* Volta ao tamanho normal */
}

#devs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(var(--black), #020114);
}

#devs .section-subtitulo {
    color: #012200;
    text-align: center;
    font-size: 3em;
}

.wrapper .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .card-dev {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 20px #021e00, inset 0 0 0 1000px #33cb00;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-dev .dev-img, .dev-img img {
    width: 100%;
    height: 100%;
}

.card-dev .content {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(50px);
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: bottom 0.5s;
    transition-delay: 0.65s;
    color: white;
}

.card-dev:hover .content {
    bottom: 0;
    transition-delay: 0s;
}

.content .content-box h3 {
    color: var(--green);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px 25px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translateY(-20px);
}


.card-dev:hover .content .content-box h3 {
    opacity: 1;
    transform: translateY(0);
}

.content .content-box h3 span {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: initial;
    color: var(--green);
}

.content .social {
    position: relative;
    bottom: 10px;
    display: flex;
}

.content .social li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}

.card-dev:hover .content .social li {
    transform: translateY(0);
    opacity: 1;
}

.content .social li a {
    font-size: 24px;
}

:root {
    --green: #96ff62;
}